a {
    color: var(--secondary-color);
}

.search-wrapper{
    margin-bottom: 2rem;
}

.search-label {
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.search-input{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.25rem 2rem 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
}

.users-found {
    font-size: 0.9rem;
}

.user-found {
    border: 1px solid var(--secondary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.25rem;
    transition: opacity 0.8;
}

.user-found:hover{
    opacity: 0.8;
}