
<div *ngIf="isLoggedIn; else login">
        <nav class="nav-bar">
            <button *ngFor="let button of buttons" class="nav-btn" [class.selected]="button.selected" (click)="selectButton(button)" [routerLink]="[button.routerLink]">
                {{button.label}}
            </button>
            <button class="nav-btn nav-logout-btn" (click)="logout()">Logout</button>
        </nav>
</div>

<ng-template #login >
    <nav class="nav-bar">
        <button class="nav-btn" routerLink="homepage">Home</button>
        <button class="nav-btn" routerLink="login">Login</button>
    </nav>
</ng-template>
