<div class="homepage-wrapper">
    <div class="hero-text">
        <h1 class="hero-title">Unleash Your User Potential.</h1>
        <p class="hero-subtitle">The user management app that allow you to access and modify information.</p>
        <p class="hero-subtitle">Empower, Engage, Excel.</p>
    </div>
    
    <div class="discover-panel">
        <button class="learn-more-btn btn"routerLink="/learn-more">Learn More</button>
        <a href="https://github.com/C-ZLTV/user-management-app-angular" target="_blank" rel="noopener">Check out source code</a>
    </div>
</div>