<h3>Comments</h3>

<h4 *ngIf="error">{{error}}</h4>

<div *ngIf="comments$ | async">
    <p>{{emptyMessage}}</p>
    <ul *ngFor="let comment of comments" class="comments">
        <li class="comment">{{comment.body}}</li>
    </ul>

    <form #commentFrom="ngForm" (ngSubmit)="addComment(comment.value)" [hidden]="error" class="comment-form">
        <label class="comment-label" for="comment">Write a new comment</label>
        <input 
        class="comment-input input"
        id="comment" 
        name="comment"
        ngModel
        required
        #comment>
        <button class="btn submit-btn" type="submit" [disabled]="commentFrom.invalid" [class.disabled]="commentFrom.invalid">Comment</button>
    </form>
</div>



