<div class="login-wrapper">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form">
        <label class="label" for="token">Insert your token</label>
        <input class="input login-input" type="text" name="token" id="token" ngModel #token>
        <button class="submit-btn btn" type="submit">Login</button>
    </form>
    <p>Don't have a token? Generate it <a class ="token-link" href="https://gorest.co.in/consumer/login" target="_blank" rel="noopener">here</a></p>
</div>

