<h1>Users List</h1>

<div *ngIf="users$ | async; else loading">
  <app-search-user></app-search-user>
  <ul>
    <li *ngFor="let user of users">
        <a routerLink="user/{{user.id}}">
          {{user.name}} {{user.status}}
        </a>
        <button (click)="deleteUser(user)">Delete</button>
      </li>
  </ul>

  <form #userDetails="ngForm" (ngSubmit)="addUser(email.value, gender.value, name.value)">
    <label for="email">Email*</label>
    <input 
    id="email" 
    name="email"
    ngModel
    required
    #email>
    <label for="gender">Gender*</label>
    <input 
    id="gender"
    name="gender"
    ngModel
    required
    #gender>
    <label for="name">Name*</label>
    <input
    id="name"
    name="name"
    ngModel
    required
    #name>
    <p [hidden]="!userDetails.touched">All fields are required</p>
    <button type="submit" [disabled]="userDetails.invalid">Add User</button>
  </form>
</div>

<ng-template #loading>
  <p>loading</p>
</ng-template>