a {
    color: var(--primary-color);
}

.users-wrapper,
.users  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users {
    margin-bottom: 2rem;
}

.user {
    width: max(60%, 17rem);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;

    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 1rem 2rem;

    position: relative;

    transition: transform 0.15s opacity 0.15s;

}

.user:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.delete-btn{
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;

    position: absolute;
    top: 0;
    right: 0rem;
}

.delete-btn:hover{
    color: var(--accent-color-dark);
}

.post-form{
    display: flex ;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 760px){
    .users-wrapper {
        flex-direction: row-reverse;
        align-items: start;
        justify-content: center;
        gap: 2rem;
    }
}