.users-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    width: max(60%, 17rem);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;

    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 1rem 2rem;

    position: relative;

    transition: transform 0.15s opacity 0.15s;

}

.user:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.delete-btn{
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;

    position: absolute;
    top: 0;
    right: 0rem;
}

.delete-btn:hover{
    color: var(--accent-color-dark);
}

.active {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(152, 220, 96);
}

.post-form{
    display: flex ;
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
}

.post-input{
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem 5rem 0.5rem 0.5rem;
}

.post-btn{
    background-color: var(--accent-color-dark);
    border: none;
    border-radius: 5px;
    color: var(--secondy-color);
    font-weight: 700;
    padding: 0.5em 1em;
}

.post-btn.disabled {
    opacity: 0.6;
}