.posts-wrapper,
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    margin-bottom: 3rem;
    border-bottom: 1px solid white;
    width: max(60%, 12rem);
}

a {
    color: var(--secondary-color);
}

.form-wrapper {
    margin-bottom: 2rem;
}

.form {
    display: flex ;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem
}

@media  screen and (min-width: 760px ) {
    .posts-wrapper{
        flex-direction: row-reverse;
        align-items: start;
    }
}