<div class="main-wrapper">
  <h3 *ngIf="error">{{error}}</h3>
  
  <div *ngIf="posts$ | async; else loading" class="posts-wrapper">
  
      <ul class="posts">
        <li class="post" *ngFor="let post of posts$ | async; index as i">
          <a routerLink="/post/{{post.id}}" >
            <p>{{post.title}}</p>
          </a>
        </li>
      </ul>
  
    <div class="form-wrapper">
      <h3>Add a post</h3>
      <form [formGroup]="postForm" (ngSubmit)="addPost(title.value, body. value)" [hidden]="error" class="form">
        <!-- <label for="post-title">title</label> -->
        <input class="input" placeholder="Title" id="post-title" #title formControlName="title">
        <!-- <label for="post-body">body</label> -->
        <input class="input" placeholder="Body" id="post-body" #body formControlName="body">
        <button class="submit-btn btn" [class.disabled]="postForm.invalid" [disabled]="postForm.invalid">Post</button>
      </form>
    </div>
  </div>
  
    <ng-template #loading>
      <div class="loading">
        <p>Loading Posts... </p>
      </div>
    </ng-template>
</div>