.posts-wrapper,
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    margin-bottom: 3rem;
    border-bottom: 1px solid white;
    width: max(60%, 12rem);
}

a {
    color: var(--secondary-color);
}

.form-wrapper {
    margin-bottom: 2rem;
}

.form {
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem
}

.post-input{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 0.25rem 2rem 0.25rem 0.5rem;
    border-radius: 10px;
}

.post-btn {
    background-color: var(--accent-color-dark);
    color: var(--secondary-color);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 0.25rem 1rem;
}

.disabled {
    opacity: 0.5;
}