.posts-wrapper {
    display: flex;
    flex-direction: column;
}

.post {
    margin-bottom: 3rem;
    border-bottom: 1px solid white;
}

.form-wrapper {
    margin-bottom: 2rem;
}

.form {
    display: flex ;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem
}

@media  screen and (min-width: 760px ) {
    .posts-wrapper{
        flex-direction: row-reverse;
        align-items: start;
        gap: 3rem
    }
}