.post{
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-color);
}

.comment-input {
    font-weight: 700;
}

.goback-btn{
    background-color: var(--accent-color-dark);
    color: var(--secondary-color);
    font-weight: 700;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}