:root{
    --primary-color: #282322ff;
    --secondary-color: rgb(232, 232, 232);
    --gradient-primary: linear-gradient(to right, #8357f4ff, #6649f9ff);
    --accent-color-dark: #8357f4ff;
    --accent-color-light: #b2fe73ff;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.loading {
    text-align: center;
}

.error {
    text-align: center;
}

.main-wrapper {
    padding-top: 3rem;
}

.input{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
}

.btn {
    font-weight: 700;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.btn:hover{
    opacity: 0.8;
}
.submit-btn{
    background-color: var(--accent-color-dark);
    color: var(--secondary-color);
}

.go-back-btn {
    background-color: var(--accent-color-light);
    color: var(--primary-color);
}

.disabled {
    opacity: 0.5;
}

.active {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(152, 220, 96);
}