
<h2>About the project</h2>
<p>This project gave me the an opportunity, as learning developer, to test and expand my skills when it come to Angular development. It was designed by NTT DATA in partnership with Start2Impact and will be reviewed for feedback.</p>

<h2>The requiremts</h2>
<p>The requirements are to develop an application based on the APIs provided by <a href="https://gorest.co.in/" target="_blank" rel="noopener">Go REST</a>. It's particularly important to study the API documentation in order to make API calls, understand the input parameters, response structure, and HTTP response codes.</p>
<p>The application should allows managing users and viewing/editing their posts and the functionalities offered by the application must be protected by bearer token authentication. The implementation of a server-side component is not required.</p>

<h2>The Specs</h2>
<p>After authentication, the user should access a section where they can see the list of users, which includes search by name option. It should be possible to create or delete a new user.</p>
<p>The user should be able to open a user's profile, where their details are displayed, view their posts, and leave comments.</p>
<p>There should be a second functionality where the user can view all posts, perform searches, and once they find the post of interest, view and add comments. In this section, the user can also create new posts.</p>

<button class="btn go-back-btn" (click)="goBack()">Go back</button>
